Django==1.11.6
coverage==4.4.2
psycopg2==2.7.3
django-widget-tweaks==1.4.1
django-modeltranslation==0.12.1
easy-thumbnails==2.4.1
django-markdown-app==0.9.6
sorl-thumbnail
python-dateutil
freezegun
selenium
