@media (max-width: 480px) {

    /* Edit Project */
    .detail h1 {
        text-align: center;
    }

    /* New Project */
    .btn.btn-primary.add-project {
        width: 150px;
    }

    /* New Task */
    .btn.btn-primary.add-task {
        margin: 10px 0 0 0;
    }

    /* Task Index */
    .task-detail-left {
        flex-direction: column;
        align-items: center;
    }

    .card {
        height: 465px;
    }
}

@media (max-width:  768px) {

    /* Task View */
    .btn.btn-primary {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        min-height: 2rem;
    }

    /* New Task */
    .btn.btn-primary.add-task {
        margin: 10px 0 0 0;
    }

    /* Responsive Menu */
    section.nav-top-body {
        display: none;
        overflow: visible;
        width: 100%;
    }

    li.nav-top-list-item a {
        height: 100px;
        background-color: rgb(91, 192, 222);
    }

    li.dropdown {
        background-color: rgb(91, 192, 222);
    }

    li.dropdown ul {
        background-color: rgb(91, 192, 222);
        width: 100%;
        margin-left: 10px;
    }

    .dropdown-content li a {
        color:rgb(38, 91, 171);
    }

    .dropdown-content li a:hover {
        width: 100%;
    }
}

@media (max-width: 1525px) {

    /* Task View */
    .grid.content {
        display: flex;
        justify-content: center;
    }

    .task-detail-right {
        flex: 0 0 100%;
        text-align: center;
        margin: 30px 0 0 0;
    }

    .card--inverse.card--primary.comment {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .comment-title.card-header {
        width: 90%;
    }

    .card-block-comment {
        width: 90%;
        text-align: left;
    }

    .textarea {
        width: 90%;
    }

    /* Task Administration */
    div.detail-task-administration {
       margin: 0 0 10px 0;
       display: flex;
       flex-direction: column;
   }
}
