@media (max-width: 476px) {

    /* Taskindex */
    .grid.grid--2of12.task-grid {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {

    /* Edit Project */
    .detail h1 {
        text-align: center;
    }

    /* New Project */
    .btn.btn-primary.add-project {
        width: 150px;
    }

    /* New Task */
    .btn.btn-primary.add-task {
        margin: 10px 0 0 0;
    }

    /* Task Index */
    .detail-left {
        flex-direction: column;
        width: 280px;
    }

    .card {
        height: 485px;
    }

    .taskindex-top-items {
        flex-direction: column;
    }

    /* Markdown Editor */
    #markItUpMarkdown-comment {
        width: 275px !important;
    }

    .markItUpContainer {
        width: 275px !important;
    }

    .markItUpHeader {
        width: 275px !important;
    }

    #markdown-comment {
        width: 275px !important;
    }

    /* Comment Boxes */
    .comment-title.card-header {
        width: 275px !important;
    }

    .card-block-comment {
        width: 275px !important;
        text-align: left;
    }

    .textarea {
        width: 275px !important;
    }
}

@media (max-width: 768px) {

    /* Task Index */
    div.search-function div input.form-control {
        min-height: 2rem;
        line-height: 0;
        font-size: 0.9rem;
    }

    div.search-function div input.btn.btn-primary {
        min-height: 2rem;
    }

    /* Task View */
    .btn.btn-primary {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        min-height: 2rem;
    }

    /* New Task */
    .btn.btn-primary.add-task {
        margin: 10px 0 0 0;
    }

    /* Responsive Menu */
    section.nav-top-body {
        overflow: visible;
        width: 100%;
    }

    li.nav-top-list-item a {
        height: 40px;
        background-color: #f6f6f6;
    }

    li.dropdown {
        background-color: white;
        height: 40px;
    }

    li.dropdown ul {
        background-color: white;
        width: 100%;
        margin-left: 10px;
    }

    .dropdown-content li a {
        color:rgb(38, 91, 171);
    }

    .dropdown-content li a:hover {
        width: 100%;
    }

    a.link {
        height: 40px;
    }

    /* Markdown Editor */
    #markItUpMarkdown-comment {
        width: 450px;
    }

    .markItUpContainer {
        width: 450px;
    }

    .markItUpHeader {
        width: 450px;
    }

    #markdown-comment {
        width: 450px;
    }

    /* Comment Boxes */
    .comment-title.card-header {
        width: 450px;
    }

    .card-block-comment {
        width: 450px;
        text-align: left;
    }

    .textarea {
        width: 450px;
    }
}


@media (max-width: 980px) {

    ul.index {
        width: 100%;
    }

}


@media (max-width: 1300px) {

    table td {
        width: 100px;
    }

    /* Project View */
    .new-task-button {
        justify-content: start;
    }
}


@media (max-width: 1525px) {

    /* Task View */
    .detail-right {
        flex: 0 0 100%;
        margin: 30px 0 0 0;
    }

    .card--inverse.card--primary.comment {
        display: flex;
        flex-direction: column;
    }

    .comment-title.card-header {
        width: 615px;
    }

    .card-block-comment {
        width: 615px;
        text-align: left;
    }

    .textarea {
        width: 615px;
    }

    /* Task Administration */
    div.detail-task-administration {
       margin: 0 0 10px 0;
       display: flex;
       flex-direction: column;
   }
}
