html, body {
    margin: 0;
    height: 100%;
    font-family: Open Sans, sans-serif;
}

/*Wrapper*/
#wrap {
    flex: 1 0 auto;
}

/* Base Template */
div.main {
    position: relative;
    width: 1200px;
    min-height: 100%;
    margin: auto;
}

div.loginform {
    float: right;
}

div.loginform a {
    text-decoration: None;
}

div.loginform input {
    display: block;
}

div.content {
    display: flex;
    max-width: 1416px;
    margin: 0 auto 40px auto;
    padding: 10px 12px 0 12px;
}

/* Index Lists */
ul.index {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px 12px 80px 12px;
}

ul.index li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}


ul.index a:nth-of-type(2n+1) {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(243, 243, 243);
}

ul.index li p:first-of-type {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


ul.index a li{
    text-decoration: none;
    color: black;
}

ul.ranking-index {
    list-style: none;
    width: 1300px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px 12px 80px 12px;
}

ul.ranking-index li a {
    text-decoration: none;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
    color: black;
}

/* DetailView */
h1.tasktitle {
    margin-top: 0;
}

div.detail-task-administration {
    margin: 0 500px 10px 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.detail {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.detail-project {
    display: flex;
    max-width: 1300px;
    flex-direction: column;
    width: 100%
}

div.detail-project a.link {
    height: 100%;
}

div.detail a {
    text-decoration: None;
}

div.detail form input {
    display: block;
}

/* Grid */
.grid-cell--3of12 {
    width: 800px;
}

.grid--2of12 > .grid-cell {
    display: flex;
    flex: 0 0 0;
}

.grid-cell {
    padding-right: 0px;
}

.detail-left {
    width: 100%;
}

.detail-right {
    width: 100%;
    margin: 0 0 0 20px;
}

.btn.btn-primary.btn-profile {
    width: 200px;
}

.btn.btn-primary {
    width: 200px;
    margin: 10px 0 0 0;
}

.btn.btn-primary.delete-button {
    background-color: red;
}

.btn.btn-primary.add-project {
    width: 200px;
}

.btn.btn-primary.add-task {
    width: 200px;
    margin: 10px 0 0 0;
    height: 2rem;
}

div.buttons a button.btn.btn-primary {
    display: block;
    margin: 10px 0 0 0;
}

.btn.btn-primary.submit-button {
    width: 100px;
}

/* Edit Task/Project */
form.edit div  {
    margin: 10px 0;
}

form.edit div label {
    float: left;
}

form.edit div input {
    margin: 5px 0;
    width: 1173px;
}

form.edit div select {
    margin: 5px 0;
}

form.edit div textarea {
    resize: none;
    margin: 5px 0;
    width: 1173px;
}

form.edit {
    margin: 0px;
}

nav.nav-top {
    display: flex;
    align-items: center;
    height: 80px;
    align-self: top;
    margin-bottom: 10px;
}

section.nav-top-body {
    max-height: 80px;
}

.nav-top-header-logo {
    /*display: flex;*/
    height: auto;
    width: 150px;
    /*background: url(oss-challenge.svg);*/
}

.nav-top-header-logo.img {
    display: flex;
}

.nav-top-list.nav-top-list--right {
    height: 80px;
}

.nav-top-list-item {
    height: 80px;
}

@media (max-width: 767px) {
    nav.nav-top {
        display: flex;
        align-items: center;
        height: 115px;
        align-self: top;
        margin-bottom: 10px;
    }

    .nav-top-list.nav-top-list--right{
        height: 0;
    }

    .nav-top-list-item {
        height: 35px;
    }
}

a.link {
    height: 80px;
}

div.my-tasks a.link {
    height: 30px;
}

.set_language {
    display: flex;
    align-items: center;
}

input[name=submit] {
    margin: 10px;
    float: left;
    align-self: center;
}

ol.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}

@media (max-width: 310px) {
    div.form-group-login input{
        width: 80%;
    }
}

form.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}

div.comment {
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.comment-title {
    background-color: rgb(91, 142, 219);
    color: white;
}

.comment-title.card-header {
    width: 100%;
}

.comment-title.card-header a {
    color: white;
}

.comment footer {
    font-size: 14px;
}

.textarea {
    width: 60%;
}

img.img-responsive {
    width: 100%;
}

.task-text {
    color: black;
}

.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title {
    overflow: hidden;
}

.task-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-status {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.task-grid {
    display: flex;
}

.markdown {
    font-size: 12px;
}

.about {
    display: flex;
    justify-content: center;
}

.about-text {
    display: flex;
    justify-content: center;
}

/* Card */
.card {
    width: 220px;
    height: 580px;
    margin: 0 0 30px 0;
}

.card-block-comment {
    padding: 1rem;
    width: 100%;
    border-color: rgb(91, 142, 219);
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
}

.card-profile {
    position: relative;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(225, 225, 225);
}

.card-header {
    border-bottom: none;
}

.card--inverse.card--primary.comment {
    width: 100%;
}

.task-detail-picture {
    display: flex;
    justify-content: center;
    height: 330px;
    margin: 0 0 30px 0;
}

.profile-detail-picture {
    display: flex;
    height: 325px;
    margin: 0 0 30px 0;
}

.task-index-picture {
    display: flex;
    justify-content: center;
    height: 195px;
    width: 100%;
    object-fit: cover;
}

.taskindex {
    width: 100%;
}

.taskindex h4 {
    margin: 30px 0 30px 0;
    color: rgb( 91, 142, 219)
}

form.edit div input {
    width: 300px;
}

.form-group-login {
    width: 300px;
}

label[for="id_picture"] {
    width: 200px;
    border-radius: 4px;
    font-size: 0.75rem;
    text-align: center;
    cursor: pointer;
    background-color: rgb( 91, 142, 219);
    border-color: rgb(71, 128, 215);
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.form-group-login input[type="file"] {
    display: none;
}

.div.save-image {
    margin-top: 40px;
}

.alert.alert-success {
    width: 30%;
    padding: 0.5rem 1rem;
}

.profile {
    display: flex;
    flex-direction: column;

}

.content-ranking {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 10px 12px 80px 12px;
}

.page-content {
    display: flex;
    align-items: center;
}

@media (max-width: 310px) {
    .page-content form {
        margin-left: 17%;
    }
}

/* Dropdown Menu */
.dropdown {
    position: inherit;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 110px;
}

.dropdown-content a {
    color: rgba(91, 142, 219);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 110px;
    height: 60px;
}

.dropdown-content li {
    list-style: none;
 }

.dropdown-content li a:hover {
    background-color: rgb( 91, 142, 219);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Search Function */
.search-function {
    display: flex;
    flex-direction: column;
}

form.search {
    display: flex;
}

div.search-function div {
    display: flex;
    align-self: flex-end;
}

div.search-function input.btn {
    width: 80px;
    margin: 0 0 0 10px;
}

.fa.fa-github {
    color: black;
}

.fa.fa-globe {
    color: black;
}

.fa.fa-circle-o {
    color: green;
}

.fa.fa-check-circle {
    color: green;
}

.fa.fa-check-circle-o {
    color: darkblue;
}

.fa.fa-spinner {
    color: darkblue;
}

.submitbutton {
    width: 100px;
}

.no-tasks {
    text-align: center;
    color: red;
    font-size: 50px;
    margin: 50px 0 0 0;
}

.title-and-links {
    display: flex;
}

.new-task-button {
    display: flex;
    justify-content: end;
    margin: 0 5 14px 0;
}

.my-tasks {
    display: flex;
    flex-direction: column;
}

.taskindex-top-items {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
}

.fa.fa-github.fa-2x {
    margin: 0 10px 0 0;
}

.project {
    display: flex;
}

#markItUpMarkdown-comment {
    width: 100%;
}

.markItUpContainer {
    width: 100%;
}

.markItUpHeader {
    width: 100%;
}

.markItUpHeader ul li {
    margin: 0 10px 10px 0;
}

#markdown-comment {
    width: 100%;
}

th {
    font-weight: bold !important;
}

.footer {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    align-items: center;
    border-top: 1px solid black;
    justify-content: space-between;
}

.footer p {
    margin: 0 17px 0 0;
    font-size: 12px;
}

.footer a {
    color: #3D79D4;
}

.footer-content ol {
    margin: 25px;
    font-size: 12px;
    border: none;
}

.footer-content ol li a {
    color: black;
}

.footer2 {
    display: none;
    flex-direction: row;
    color: black;
    width: 100%;
    border-top: 1px solid black;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .footer {
        display: none;
    }

    .footer2 {
        display: flex;
    }

    .footer2 p {
        margin: 5px 17px 1px 0;
        font-size: 11px;
    }

    .footer2 a {
        color: #3D79D4;
    }

    .footer-content {
        margin: 25px;
        font-size: 11px;
        border: none;
    }

    .footer-content a {
        color: black;
    }
}

.hidden-span{
    background: none repeat scroll 0 0 white;
    font-family: Open Sans, sans-serif;
    border: 1px solid #DFDFDF;
    color: #5B8EDB;
    font-size: 18px;
    height: 30px;
    margin: 0 auto 0 -30px;
    position: relative;
    text-align: center;
    left: 50px;
    display: none;
    padding: 0 10px;

}

.hidden-span:after{
    content: '';
    margin: 9px;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    left: -0.5%;
    margin-left: -5px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.fa.fa-star:hover .hidden-span {
    display: inline;
}

.logged-in-user {
    margin: 20px;
    color: #5B8EDB;
    font-size: 0.85rem;
}

.text-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-comment {
    display: flex;
}

.date {
    display: flex;
    font-size: 14px;
}

table.table.table--striped.table--hover.table--bordered thead tr th {
    width: 20%;
}

table.table.table--striped.table--hover.table--bordered tbody tr td a{
    color: black;
}

@media (max-width: 380px) {
    table.table.table--striped.table--hover.table--bordered thead tr th {
        font-size: 11px;
    }
}

.btn-add-task {
    width: 100px;
}

.save-image {
    width: 100px;
}

.text-center {
    text-align: center;
}

.errorlist {
    list-style-type: none;
}

.no-projects {
    width: 100%;
}

.profil-infos th {
    text-align: left;
    width: 200px;
}
