html, body {
    margin: 0;
    height: 100%;
}

/* Base Template */

div.main {
    position: relative;
    width: 1200px;
    min-height: 100%;
    margin: auto;
}

div.loginform {
    float: right;
}

div.loginform a {
    text-decoration: None;
}

div.loginform input {
    display: block;
}

div.content {
    width: 100%;
    margin: 3px 0 0 0;
    padding: 10px 12px 80px 12px;
}

/* Index Lists */

ul.index {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.index li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

ul.index li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

h1 a {
    text-decoration: none;
    color: black;
}

/* DetailView */

h1.tasktitle {
    margin-top: 0;
}

div.detail {
    margin-bottom: 10px;
}

div.detail a {
    text-decoration: None;
}

div.detail form input {
    display: block;
}

/* Edit Task/Project */

form.edit div  {
    margin: 10px 0;
}

form.edit div label {
    float: left;
}

form.edit div input {
    margin: 5px 0;
    width: 1173px;
}

form.edit div select {
    margin: 5px 0;
}

form.edit div textarea {
    resize: none;
    margin: 5px 0;
    width: 1173px;
}

div.nav-side-header-logo img {
    height: 100%;
    float: left;
}

ol.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}

form.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}

