html, body {
    margin: 0;
    height: 100%;
}

/* Base Template */

div.main {
    position: relative;
    width: 1200px;
    min-height: 100%;
    margin: auto;
}

div.loginform {
    float: right;
}

div.loginform a {
    text-decoration: None;
}

div.loginform input {
    display: block;
}

div.content {
    display: flex;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 10px 12px 80px 12px;
}

/* Index Lists */

ul.index {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.index li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

ul.index li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

h1 a {
    text-decoration: none;
    color: black;
}

/* DetailView */

h1.tasktitle {
    margin-top: 0;
}

div.detail {
    margin-bottom: 10px;
}

div.detail a {
    text-decoration: None;
}

div.detail form input {
    display: block;
}

.grid-cell--3of12 {
    width: 800px;
    text-align: center;
}

/* Edit Task/Project */

form.edit div  {
    margin: 10px 0;
}

form.edit div label {
    float: left;
}

form.edit div input {
    margin: 5px 0;
    width: 1173px;
}

form.edit div select {
    margin: 5px 0;
}

form.edit div textarea {
    resize: none;
    margin: 5px 0;
    width: 1173px;
}

nav.nav-top {
    display: flex;
    align-items: center;
    height: 80px;
    float: left;
    align-self: top;
    margin-bottom: 10px;
}

section.nav-top-body {
    max-height: 80px;
}

.nav-top-header-logo {
    display: flex;
    height: auto;
    width: 150px;
}

.nav-top-header-logo.img {
    display: flex;
}

.nav-top-list.nav-top-list--right {
    height: 80px;
}

.nav-top-list-item {
    height: 80px;
}

a.link {
    height: 80px;
}

.set_language {
    display: flex;
    align-items: center;
}

input[name=submit] {
    margin: 10px;
    float: left;
    align-self: center;
}

ol.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}1rem

form.form-group-login {
  width: 300px;
  margin-bottom: 1rem;
}

div.comment {
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.comment-title {
    background-color: rgb(91, 142, 219);
    color: white;
}

.comment footer {
    font-size: 14px;
}

.textarea {
    width: 550px;
}

img.img-responsive {
    width: 100%;
    height: 100%;
}

.task-text {
    color: black;
}

.task-grid {
    padding: 0 18px;
}

.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title {
    overflow: hidden;
}

.task-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-status {
    text-align: center;
}

.markdown {
    font-size: 12px;
}

.grid-cell {
    display: flex;
}

.about {
    display: flex;
    justify-content: center;
}

.about-text {
    display: flex;
    justify-content: center;
}

.btn.btn-primary.comment {
    margin-bottom: 20px;
}

.card {
    width: 300px;
    height: 615px;

}

.task-picture {
    height: 298px;
}

form.edit div input {
    width: 300px;
}

.form-group-login {
    width: 300px;
}

label[for="id_picture"] {
    width: 100px;
    background-color: #900;
    border-radius: 4px;
    padding: 5px;
    font-size: 11px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.form-group-login input[type="file"] {
    display: none;
}

.div.save-image {
    margin-top: 40px;
}

.alert.alert-success {
    width: 30%;
    padding: 0.5rem 1rem;
}

.profile {
    display: flex;
    flex-direction: column;

}

.content-profile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 10px 12px 80px 12px;
}

.card-profile {
    position: relative;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(225, 225, 225);
}

.content-ranking {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 10px 12px 80px 12px;
}
