{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}

<div class="page-content">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group-login">
            <label for="exampleInputUsername1">{% trans "Username" %}</label>
            <input type="text" id="id_username" name="username" class="form-control" placeholder={% trans "Username" %} autofocus>
        </div>
        <div class="form-group-login">
            <label for="exampleInputPassword1">{% trans "Password" %}</label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder={% trans "Password" %}>
        </div>
        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{% trans error %}</div>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form-group-login">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="form-group">
            <a href="/password_reset/">{% trans "Forgot password?" %}</a>
        </div>
    </form>
</div>

{% endblock content %}
