{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <script type="text/javascript" src="{% static "js/jquery-3.2.1.js" %}"></script>
        <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
        <script type="text/javascript" src="{% static "js/delete_buttons.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/adcssy.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/stylesheet.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'osschallenge/media.css' %}"/>
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'osschallenge/django_markdown_stylesheet.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon"  type="image/x-icon"href="{% static 'osschallenge/oss-challenge-favicon.ico' %}"/>
        <title>OSS-Challenge {% block title %}{% endblock title %}</title>
        {% block meta %}
        {% endblock meta %}
    </head>
    <body class="page">
        <div id="wrap">
            <nav class="nav-top">
                <header class="nav-top-header">
                    <a href="/">
                        <div class="nav-top-header-logo"><img src="{% static "osschallenge/oss-challenge.svg" %}"/></div>
                    </a>
                    <button class="nav-toggle nav-top-toggle">
                        <span class="nav-toggle-icon"></span>
                    </button>
                    {% if request.user.is_authenticated %}
                        <div class="logged-in-user">
                            <a class="link" href="/profile/{{ request.user.username }}">{% trans "Logged in as" %} {{ request.user.username }}</a>
                        </div>
                    {% endif %}
                </header>
                <section class="nav-top-body">
                    <ul class="nav-top-list nav-top-list--right">
                        {% if request.user.is_authenticated %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/my_tasks/{{ request.user.username }}">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/about">{% trans "About" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/profile/{{ request.user.username }}">{% trans "Profile" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a id="logout" class="link" href="/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/tasks">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/about">{% trans "About" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/login">Login</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/register">{% trans "Register" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </section>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    <footer class="footer">
        <div class="footer-content">
            <ol class="breadcrumb">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <li><a id="{{ language.code }}" class="link language-selection" href="#">{{ language.name_local }}</a></li>
                {% endfor %}
            </ol>
            <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input id="language-input" name="language" type="hidden" value="" />
            </form>
        </div>
    <p>{% trans "Designed and built by " %}<a target="_blank" href="https://www.adfinis.com/">Adfinis AG</a>{% trans ". Code on " %}<a target="_blank" href="https://github.com/adfinis-sygroup/osschallenge">Github</a>{% trans ". Code license " %}<a target="_blank" href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a>{% trans "." %}</p>
    </footer>
    <footer class="footer2">
        <div class="footer-content">
            <ol class="breadcrumb-mobile">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <li><a id="{{ language.code }}" class="link language-selection" href="#">{{ language.name_local }}</a><br></li>
            {% endfor %}
            </ol>
            <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input id="language-input" name="language" type="hidden" value="" />
            </form>
        </div>
        <div class="footer-links">
            <p>{% trans "Designed and built by" %}<br>
            <a target="_blank" href="https://www.adfinis.com/">Adfinis AG</a></p>
            <p>{% trans "Code on " %}<a target="_blank" href="https://github.com/adfinis-sygroup/osschallenge" class="link">Github.</a></p>
            <p>{% trans "Code license " %}<a target="_blank" href="https://www.gnu.org/licenses/quick-guide-gplv3.html" class="link">GPLv3.</a></p>
        </div>
    </footer>
</html>
