{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load tasks %}
{% load pagination %}

{% block content %}
<div class="content">
    <div class="taskindex">
        <div class="taskindex-top-items">
            <div class="my-tasks">
                <h1>{% trans "My Tasks" %}</h1>
                <a class="link" href="/tasks">{% trans "Show all tasks" %}</a>
                {% if user.profile.role_id == mentor_id %}
                    <a class="link" href="/task_administration_index/">{% trans "Show tasks to review" %}</a>
                {% endif %}
            </div>
            <div class="search-function">
                <form class="search" method="get">
                    <div><input class="form-control" type="text" name="search" required="required" placeholder="{% trans "search all tasks" %}"></div>
                    <div><input class="btn btn-primary submit-button" type="submit" value="{% trans "Search" %}"></div>
                </form>
            </div>
        </div>
        {% if tasks %}
        <div class="grid grid--2of12 task-grid">
            {% for task in tasks %}
            <div class="grid-cell">
                {% task_card task %}
            </div>
            {% endfor %}
        </div>
        {% paging last_page current_page tasks %}
        {% else %}
        <p>{% trans "No tasks available." %}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
