{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load static %}
{% load tasks %}

{% block meta %}
<meta property="og:title" content="OSS-Challenge" />
<meta property="og:type" content="profile:username" />
<meta property="og:image" content="{% if profile.picture.avatar.url %} {{ profile.picture.avatar.url }} {% else %} {% static "osschallenge/profile-example.png" %} {% endif %}" />
<meta property="og:url" content="www.osschallenge.ch/profile/{{ user.username }}/" />
<meta property="og:description" content="{{ user.username }}" />
<meta property="og:description" content="{% if profile.role_id == contributor_id %} {{total_points}} {% else %} 0 {% endif %} {% trans "Points reached." %}" />
{% endblock meta %}

{% block content %}
<div class="grid content">
    <div class="grid-cell grid-cell--4of12">
        <div class="detail-left">
            <div class="profile-detail-picture">
                {% if profile.picture.avatar.url %}
                <img class="profile-detail-picture" src="{{ profile.picture.avatar.url }}" alt="Card image">
                {% else %}
                <img class="profile-detail-picture" src="{% static "osschallenge/profile-example.png" %}">
                {% endif %}
            </div>
            <h4 class="card-title">{{ profile.user.username }}</h4>
            <table class="profil-infos">
                <tbody>
                    {% if profile.role_id == contributor_id %}
                    <tr>
                        <th>{% trans "Rank" %}</th>
                        <td>{{ rank }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Rank for this quarter" %}</th>
                        <td>{{ rank }}</td>
                    </tr>
                    {% endif %}
                    {% if request.user.id == profile.user.id or profile.role_id == mentor_id %}
                    <tr>
                        <th>{% trans "First name" %}</th>
                        <td>{{ profile.user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last name" %}</th>
                        <td>{{ profile.user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>E-Mail </th>
                        <td>{{ profile.user.email }}</td>
                    </tr>
                    {% endif %}
                    {% if profile.role_id == mentor_id %}
                    <tr>
                        <th>{% trans "Role" %}</th>
                        <td>{% trans profile.role.name %}</td>
                    </tr>
                    {% endif %}
                    {% if profile.role_id == contributor_id %}
                    <tr>
                        <th>{% trans "Points reached" %}</th>
                        <td>{{ total_points }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Links</th>
                        <td><a href="http://{{ profile.links }}" class="card-link">{{ profile.links }}</a></td>
                    </tr>
                    {% if request.user.id == profile.user.id %}
                    <tr>
                        <th>{% trans "Contact" %}</th>
                        <td>{{profile.contact }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if request.user.id == profile.user.id %}
            <a href="/password_change">
                <button class="btn btn-primary btn-profile">{% trans "Reset Password" %}</button>
            </a>
            <a href="/profile/edit">
                <button class="btn btn-primary btn-profile">{% trans "Edit" %}</button>
            </a>
            {% endif %}
            <div class="social-media-buttons">
                <div class="social-button" id="facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.osschallenge.ch%2Fprofile%2F{{profile.user.username}}%2F" target="_blank" title="{% trans "Share" %}" role="button" aria-label="{% trans "Share" %}" class="share-button">
                        <div class="social-icon" id="fb-icon"></div>
                        <span>{% trans "Share" %}</span>
                    </a>
                </div>
                <div class="social-button" id="twitter">
                    <a class="share-button" href="https://twitter.com/intent/tweet?hashtags=osschallenge&text={% blocktrans %}I%20reached%20{{total_points}}%20Points!{% endblocktrans %}&url=https://www.osschallenge.ch/profile/{{profile.user.username}}" target="_blank" title="{% trans "Tweet" %}" aria-label="{% trans "Tweet" %}">
                        <div class="social-icon" id="twitter-icon"></div>
                        <span>{% trans "Tweet" %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-cell--8of12">
        <div class="detail-right-profile">
            {% if profile.role_id == contributor_id %} 
            <div class="taskindex">
                {% if finished_task_list %}
                <h2>{% trans "Finished tasks" %}</h2>
                <div class="grid grid--2of12">
                    {% for task in finished_task_list %}
                        {% if task.assignee_id == profile.user_id %}
                            <div class="grid-cell">
                                {% task_card task %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <p>{% trans "No tasks available." %}</p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
