{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load tasks %}
{% load static %}

{% block content %}
<div class="grid content">
    <div class="grid-cell grid-cell--3of12">
        <div class="detail-left">
            <h1>{{ project.title }}</h1>
            {% if error_message %}<p><strong>{% trans  error_message %}</strong></p>{% endif %}

            <p>{{ project.lead_text }}</p>
            <p>
                <strong>{% trans "Description" %}</strong>
                <br>
                {{ project.description }}
            </p>
            <p>
                <strong>{% trans "Licence" %}</strong>
                <br>
                {{ project.licence }}
            </p>
            <p>
                <strong>{% trans "Owner" %}</strong>
                <br>
                <a class="link-blue" href="/profile/{{ project.owner.id }}/">
                    {{ owner }}</p>
                </a>
            <p>
                <strong>{% trans "Mentor" %}</strong>
                <br>
                {% for user in mentors %}
                <a class="link-blue" href="/profile/{{ user.id }}/">
                    {{ user }}
                </a>
                {% endfor %}
            </p>
            <div class="icons">
                <p>
                    <a href="http://{{ project.github }}" target="blank">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </p>
                <p>
                    <a href="http://{{ project.website }}" target="blank">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            {% if current_user_id == project.owner_id %}
            <a href="edit/">
                <button class=" btn btn-primary">{% trans "Edit" %}</button>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="grid-cell grid-cell--9of12">
        <div class="detail-right">
            <div class="new-task-button">
                {% if current_user_id == project.owner_id or can_create_new_tasks %}
                <a href="new_task/">
                    <button id="new-task" class="btn btn-primary">{% trans "New Task" %}</button>
                </a>
                {% endif %}
            </div>
            <div class="taskindex">
                {% if task_list %}
                <div class="grid grid--2of12">
                    {% for task in task_list %}
                    <div class="grid-cell">
                        {% task_card task %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>{% trans "No tasks available." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
