{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    {% if project_list %}
        <ul class="index">
        {% for project in project_list %}
        <a href="/projects/{{ project.id }}">
            <li>
                <p>{{ project.title }}</p>
                <p>{{ project.lead_text }}</p>
            </li>
        </a>
        {% endfor %}
        </ul>
    {% else %}
    <div class="no-projects">
        <p >{% trans "No projects available." %}</p>
    </div>
    {% endif %}
    {% if user.profile.role.id == mentor_id %}
        <a href="new_project/">
            <button id="new-project" class="btn btn-primary">{% trans "New Project" %}</button>
        </a>
    {% endif %}
</div>
{% endblock content %}
