{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load static %}
{% load tasks %}

{% block content %}
<div class="content">
    <h1 class="rankup-header">{% trans "Glückwunsch " %} {{ user }} {% trans "!" %}</h1>
    {% if total_points == 15 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Padawan erreicht!" %}</h2>
    {% elif total_points == 30 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Jedi Ritter erreicht!" %}</h2>
    {% elif total_points == 45 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Jedi Meister erreicht!" %}</h2>
    {% elif total_points == 60 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Jedi Gross Meister erreicht!" %}</h2>
    {% elif total_points == 85 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Jedi Kanzler erreicht!" %}</h2>
    {% elif total_points == 110 %}
    <h2 class="rankupmessage">{% trans "Du hast den Rang Yoda erreicht!" %}</h2>
    {% endif %}
    <div class="pony"></div>
</div>
{% endblock content %}
