{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% load widget_tweaks %}

{% block content %}
<div class="content">
    <div class="detail">
        <h1>{{ profile.user }}</h1>
        <form action="" method="POST" class="edit" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form_user %}
            <div class="form-group-login">
                {% trans field.label_tag %} {{ field | add_class:'form-control' }}
            </div>
            {% endfor %}
            {% for field in form_profile %}
            <div class="form-group-login">
                {% trans field.label_tag %} {{ field | add_class:'form-control' }}
            </div>
            {% endfor %}
            <div class="save-image">
                <button class="btn btn-primary">{% trans "Save" %}</button>
            </div>
            <form action="" method="POST" class="edit">
                {% csrf_token %}
                <button class="btn btn-primary delete-button" name="delete-profile">{% trans "Delete my Profile" %}</button>
            </form>
        </form>
    </div>
</div>
{% endblock content %}
