{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% load widget_tweaks %}

{% block content %}
<div class="content">
    <div class="detail">
        <h1>{{ task.title }} -{% trans "Edit" %}</h1>
        <form action="" method="post" class="edit" enctype="multipart/form-data"> 
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group-login">
                {{ field.label_tag }} {{ field | add_class:'form-control' }}
            </div>
            {% endfor %}
            <div class="save-image">
                <button class="btn btn-primary">{% trans "Save" %}</button>
            </div>
            {% if is_mentor_of_this_task %}
            <form action="" method="POST" class="edit">
                {% csrf_token %}
                <button class="btn btn-primary delete-button" name="Delete-task">{% trans "Delete this Task" %}</button>
            </form>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}
