{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% load widget_tweaks %}

{% block content %}
<div class="content">
    <div class="detail">
        <h1>{{ project.title }} -{% trans "Edit" %}</h1>
        <form action="" method="post" class="edit">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group-login">
                {% trans field.label_tag %} {{ field | add_class:'form-control' }}
            </div>
            {% endfor %}
            {% if user.id == project.owner_id %}
            <div class="save-image">
                <button class="btn btn-primary">{% trans "Save" %}</button>
                <button class="btn btn-primary delete-button" name="delete-project">{% trans "Delete this Project" %}</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}
