{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/adcssy.css'%}"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'osschallenge/font-awesome.min.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/stylesheet.css'%}"/>
        <title>OSS-Challenge {% block title %}{% endblock title %}</title>
    </head>
    <body class="page">
        <div>
            <nav class="nav-top">
                <header class="nav-top-header">
                    <button class="nav-toggle nav-top-toggle" onclick="this.parentNode.parentNode.classList.toggle('nav-top--expand')">
                        <span class="nav-toggle-icon"></span>
                    </button>
                    <a href="/">
                        <!--<div class="nav-top-header-logo"><img src="{% static "osschallenge/adsy.png" %}"/></div>-->
                        <div class="nav-top-header-title">OSS-Challenge</div>
                    </a>
                </header>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                        </option>
                        {% endfor %}
                    </select>
                    <input name="submit" type="submit" value="Go" />
                </form>
                <section class="nav-top-body">
                    <ul class="nav-top-list nav-top-list--right">
                    {% if user.is_authenticated %}
                        <li class="nav-top-list-item">
                            <a href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/tasks">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/about">{% trans "About" %}</a>
                        </li>
                        <br />
                        {% if user.profile.role.id == mentor_id %}
                        <li class="nav-top-list-item">
                            <a href="/task_administration_index">{% trans "Task administration" %}</a>
                        </li>
                        {% endif %}
                        <li class="nav-top-list-item">
                            <a href="/profile">{% trans "Profile" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-top-list-item">
                            <a href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/tasks">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/">{% trans "About" %}</a>
                        </li>
                        <br />
                        <li class="nav-top-list-item">
                            <a href="/login">Login</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a href="/register">{% trans "Register" %}</a>
                        </li>
                    {% endif %}
                    </ul>
                </section>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
