{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <script type="text/javascript" src="{% static "js/jquery-3.2.1.js" %}"></script>
        <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/adcssy.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'osschallenge/stylesheet.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'osschallenge/media.css' %}"/>
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OSS-Challenge {% block title %}{% endblock title %}</title>
    </head>
    <body class="page">
        <div>
            <nav class="nav-top">
                <header class="nav-top-header">

                    <a href="/about">
                        <div class="nav-top-header-logo"><img src="{% static "osschallenge/oss-challenge.svg" %}"/></div>
                    </a>
                    <button class="nav-toggle nav-top-toggle">
                        <span class="nav-toggle-icon"></span>
                    </button>
                </header>
                <section class="nav-top-body">
                    <ul class="nav-top-list nav-top-list--right">
                        {% if user.is_authenticated %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/tasks">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/about">{% trans "About" %}</a>
                        </li>
                        {% if user.profile.role.id == mentor_id %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/task_administration_index">{% trans "Task administration" %}</a>
                        </li>
                        {% endif %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/profile">{% trans "Profile" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-top-list-item">
                            <a class="link" href="/projects">{% trans "Projects" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/tasks">{% trans "Tasks" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/ranking">{% trans "Ranking" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/about">{% trans "About" %}</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/login">Login</a>
                        </li>
                        <li class="nav-top-list-item">
                            <a class="link" href="/register">{% trans "Register" %}</a>
                        </li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="link" href="#">{% trans "Language" %}</a>
                            <ul class="dropdown-content">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <li><a id="{{ language.code }}" class="link language-selection" href="#">{{ language.name_local }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input id="language-input" name="language" type="hidden" value="" />
                        </form>
                    </ul>
                </section>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
