{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="content-profile">
    <div class="profile">
        <div class="card-profile">
            {% if profile.picture.avatar.url %}
            <img class="card-img-top" src="{{ profile.picture.avatar.url }}" alt="Card image">
            {% else %}
            <img class="card-img-top" src="{% static "osschallenge/profile-example.png" %}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">{{ profile.user.username }}</h4>
            </div>
            <ul class="list-group list-group--flush">
                {% if profile.role_id == contributor_id %}
                <li class="list-group-item"><strong>Rank: </strong> {{ profile.get_rank }}</li>
                {% endif %}
                {% if request.user.id == profile.user.id or profile.role_id == mentor_id %}
                <li class="list-group-item"><strong>{% trans "First name:" %}</strong> {{ profile.user.first_name }}</li>
                <li class="list-group-item"><strong>{% trans "Last name:" %}</strong> {{ profile.user.last_name }}</li>
                <li class="list-group-item"><strong>E-Mail:</strong> {{ profile.user.email }}</li>
                {% endif %}
                {% if profile.role_id == mentor_id %}
                <li class="list-group-item"><strong>{% trans "Role:" %}</strong> {% trans profile.role.name %}</li>
                {% endif %}
                {% if profile.role_id == contributor_id %}
                <li class="list-group-item"><strong>{% trans "Points reached:" %} </strong>{{ profile.points }}</li>
                {% endif %}
                <li class="list-group-item"><strong>Links:</strong> <a href="http://{{ profile.links }}" class="card-link">{{ profile.links }}</a></li>
                {% if request.user.id == profile.user.id %}
                <li class="list-group-item"><strong>{% trans "Contact:" %}</strong> <a href="#" class="card-link">{{profile.contact }}</a></li>
                {% endif %}
                {% if profile.role_id == contributor_id %}
                <li class="list-group-item"><strong>{% trans "Tasks done:" %}</strong></li>
                {% for task in finished_tasks_list %}
                {% if task.task_checked and profile.user.id == task.assignee_id %}
                <li class="list-group-item"><a href="/tasks/{{ task.id }}">{{ task.title }} -- {{ task.project.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% if request.user.id == profile.user.id %}
        <a href="/password_change">{% trans "Reset Password" %}</a>
        </br>
        <a href="/profile/edit">
            <button class="btn btn-primary btn-profile">{% trans "Edit" %}</button>
        </a>
        <form action="" method="POST" class="edit">
            {% csrf_token %}
            <button class="btn btn-primary btn-profile" name="delete-profile">{% trans "Delete my Profile" %}</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
