{% extends 'osschallenge/index.html' %}
{% load i18n %}
{% load tasks %}
{% load static %}

{% block content %}
<div class="grid content">
    <div class="grid-cell grid-cell--3of12">
        <div class="detail-left">
            <h1>{{ project.title }}</h1>
            {% if error_message %}<p><strong>{% trans  error_message %}</strong></p>{% endif %}

            <p>{% trans project.lead_text noop %}</p>
            <p><strong>{% trans "Description: " %}</strong>{% trans project.description noop %}</p>
            <p><strong>{% trans "Licence:" %}</strong> {{ project.licence }}</p>
            <p><strong>{% trans "Owner: " %}</strong>
            <a class="link" href="/profile/{{ project.owner.username }}/">
                {{ owner }}</p>
            </a>
            <p>
            <strong>{% trans "Mentor: " %}</strong>
            {% for user in mentors %}
            <a class="link" href="/profile/{{ user.username }}/">
                {{ user }}
            </a>
            {% endfor %}
            </p>
            <div class="icons">
                <p>
                <a href="http://{{ project.github }}">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                </p>
                <p>
                <a href="http://{{ project.website }}">
                    <i class="fa fa-globe fa-2x" aria-hidden="true"></i>

                </a>
                </p>
            </div>
            {% if current_user_id == project.owner_id %}
            <a href="edit/">
                <button class=" btn btn-primary">{% trans "Edit" %}</button>
            </a>
            <form action="" method="POST" class="edit">
                {% csrf_token %}
                <button class="btn btn-primary" name="delete-project">{% trans "Delete this Project" %}</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="grid-cell grid-cell--9of12">
        <div class="detail-right">
            <div class="new-task-button">
                {% if current_user_id == project.owner_id or can_create_new_tasks   %}
                <a href="new_task/">
                    <button class="btn btn-primary">{% trans "New Task" %}</button>
                </a>
                {% endif %}
            </div>
            <div class="taskindex">
                {% if task_list %}
                <div class="grid grid--2of12">
                    {% for task in task_list %}
                    <div class="grid-cell">
                        {% task_card task %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>{% trans "No tasks available." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
