{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content page-content--scroll">
    <div class="detail-project">
        <h1>{{ project.title }}</h1>

        {% if error_message %}<p><strong>{% trans  error_message %}</strong></p>{% endif %}

        <p>{% trans project.lead_text noop %}</p>
        <p><strong>{% trans "Description" %}</strong><br>{% trans project.description noop %}</p>
        <p><strong>{% trans "Licence" %}</strong> {{ project.licence }}</p>
        <p><a href="http://{{ project.github }}">
            <strong>Git-Hub</strong>
        </a></p>
        <p><a href="http://{{ project.website }}">
            <strong>{% trans "Website" %}</strong>
        </a></p>
        <div class="buttons">
            {% if user.profile.role.id == mentor_id %}
            <a href="edit/">
                <button class=" btn btn-primary">{% trans "Edit" %}</button>
            </a>
            <a href="new_task/">
                <button class="btn btn-primary">{% trans "New Task" %}</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
