{% extends 'osschallenge/index.html' %}

{% block content %}
    {% if project_list %}
        <ul class="index">
        {% for project in project_list %}
            <li>
                <a href="/projects/{{ project.id }}">{{ project.title }}</a>
                <p>{{ project.lead_text }}</p>
            </li>
        {% endfor %}
        {% if user.profile.role.id == mentor_id %}
            <a href="new_project/">
                <button class="btn btn-primary">New Project</button>
            </a>
        {% endif %}
        </ul>
    {% else %}
        <p>No projects available.</p>
    {% endif %}
{% endblock content %}
