{% extends 'osschallenge/index.html' %}

{% block title %}Ranking{% endblock title %}

{% block content %}
<div class="listcontent">
    <ul class="index">
        {% for user in ranking_list %}
            <li>
                <h1>{{ user.username }}</h1>
                <p><strong>Points reached:</strong>
                {% if user.profile.points %}
                    {{ user.profile.points }}
                {% else %}
                    0
                {% endif %}    
                </p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
