{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content page-content--scroll">
    <div class="listcontent">
        <ul class="index">
            {% for user in ranking_list %}
                {% if user.is_staff == False %}
                <li>
                    <h1>{{ user.username }}</h1>
                    <p><strong>{% trans "Points reached:" %}</strong>
                    {{ user.profile.points }}
                    </p>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
