{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content page-content--scroll">
    <div class="detail">
        <h1 class="tasktitle">{{ task.title }} --
            <a href="/projects/{{ task.project.id }}"
               >{{ task.project.title }}
               {% if task.task_done == True %}
               / {% trans "done" %} {% trans "by" %} {{ task.assignee }}
               {% elif task.assignee_id != NULL %}
               / {% trans "claimed" %} {% trans "by" %} {{ task.assignee }}
               {% else %}
               {% endif %}
            </a>
        </h1>
        {% if error_message %} <p><strong>{% trans error_message %}</strong></p>{% endif %}

        <p>{% trans task.lead_text %}</p>
        <p><strong>{% trans "Description" %}</strong><br>{% trans task.description %}</p>
        <h3>{% trans "Contact:" %}</h3>
        <p>{{ task.mentor.username }}
        <br>{{ task.mentor.first_name }} {{ task.mentor.last_name }}
        <br>{{ task.mentor.email }}
        </p>
        {% if user.profile.role.id == mentor_id %}
        <a href="edit/">{% trans "Edit" %}</a>
        {% elif task.assignee_id == NULL %}
        <form action="" method="POST" class="edit">
        {% csrf_token %}
        <button class="btn btn-primary" name="Claim">{% trans "Claim" %}</button>
        </form>
        {% elif task.assignee_id == user.id and task.task_done == False %}
        <form action="" method="POST" class="edit">
        {% csrf_token %}
        <button class="btn btn-primary" name={% trans "Release" %}>{% trans "Release" %}</button>
        </form>
        {% endif %}
        {% if task.task_done == False and task.assignee_id == user.id %}
        <form action="" method="POST" class="edit">
        {% csrf_token %}
        <button class="btn btn-primary" name={% trans "Task done" %}>{% trans "Task done" %}</button>
        </form>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock content %}
