{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content page-content--scroll">
    <div class="detail-task-administration ">
        <h1 class="tasktitle">{{ task.title }} --
            <a href="/projects/{{ task.project.id }}"
               >{{ task.project.title }}
               {% if task.task_done == True %}
               / {% trans "done" %} {% trans "by" %} {{ task.assignee }}
                   {% if task.task_checked %}
                       / {% trans "checked" %}
                   {% endif %}
               {% else %}
               {% endif %}
            </a>
        </h1>
        {% if error_message %} <p><strong>{% trans error_message %}</strong></p>{% endif %}

        <p>{% trans task.lead_text %}</p>
        <p><strong>{% trans "Description" %}</strong><br>{% trans task.description %}</p>
        {% if task.mentor_id == user.id and task.task_checked == False %}
        <form method="POST" class="edit">
        {% csrf_token %}
        <button class="btn btn-primary" name="Checked">{% trans "Checked" %}</button>
        </form>
        {% endif %}
        {% if task.mentor_id == user.id and task.task_checked %}
        <form method="POST" class="edit">
        {% csrf_token %}
        <button class="btn btn-primary" name="Reopen">{% trans "Reopen" %}</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
