{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
    {% if task_list %}
        <ul class="index">
        {% for task in task_list %}
            <li>
                <a href="/tasks/{{ task.id }}"
                    >{{ task.title }} -- {{ task.project.title }}
                    {% if task.task_done == True %}
                    <strong> / {% trans "done" %} by {{ task.assignee }}</strong>
                    {% elif task.assignee_id != NULL %}
                    <strong> / {% trans "claimed" %} by {{ task.assignee }}</strong>
                    {% endif %}
                </a>
                <p>{% trans task.lead_text noop %}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>{% trans "No tasks available." %}</p>
    {% endif %}
{% endblock content %}
