{% extends 'osschallenge/index.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <h1 class="tasktitle">{{ task.title }} --
        <a href="/projects/{{ task.project.id }}"
           >{{ task.project.title }}
           {% if task.task_done == True %}
           / {% trans "done" %} {% trans "by" %} {{ task.assignee }}
               {% if task.task_checked %}
                   / {% trans "checked" %}
               {% endif %}
           {% endif %}
        </a>
    </h1>
    {% if error_message %}
        <p><strong>{% trans error_message %}</strong></p>
    {% endif %}

    <p>{% trans task.lead_text %}</p>
    <p><strong>{% trans "Description" %}</strong><br>{% trans task.description %}</p>
    {% if is_mentor_of_this_project and task.task_checked == False %}
    <form method="POST" class="edit">
    {% csrf_token %}
    <button class="btn btn-primary" name="Checked">{% trans "Checked" %}</button>
    </form>
    {% endif %}
    {% if is_mentor_of_this_project and task.task_checked %}
    <form method="POST" class="edit">
    {% csrf_token %}
    <button class="btn btn-primary" name="Reopen">{% trans "Reopen" %}</button>
    </form>
    {% endif %}
</div>
{% endblock content %}
