{% extends 'osschallenge/index.html' %}

{% block title %}{{ task.title }}{% endblock title%}

{% block content %}
    <h1 class="tasktitle">{{ task.title }} --
        <a 
            href="/projects/{{ task.project.id }}"
        >{{ task.project.title }}</a>
    </h1>

    {% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

    <p>{{ task.lead_text }}</p>
    <p>{{ task.description }}</p>
    <h3>Kontakt:</h3>
    <p>{{ task.mentor.nickname }}
        <br>{{ task.mentor.surname }} {{ task.mentor.lastname }}
        <br>{{ task.mentor.mail }}
    </p>
    <a href="edit/">
        <button>Edit</button>
    </a>
{% endblock content %}
